body {
	margin: 0;
	background-color: rgb(162, 107, 221);
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

/*titulos y parrafos */




.container , h1{
	position: absolute;
	z-index: 1;
}

/*listas*/

/*botones*/



/*tarjetas*/
 .box2{
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	filter: blur(0.5px);
	border-radius: 13px;
	box-shadow: 6px 6px 11px #50317f75, -6px -6px 11px rgb(171 137 226 / 62%);        
} 





 #container{
	position:fixed;
	

} 

p{
	font-size: 2em;
    color: #000000;
	margin:6%
}


.card-i ,a{
	color: #eaff00;
	font-size: medium;
}

h1{
	font-size: 9rem;
    text-transform: uppercase;
    text-shadow: 0 0 5px #770dfa, 0 0 10px #0000008c, 0 0 20px #000000db, 0 0 30px rgb(0 0 0 / 59%),
	 0 0 40px #1d1d1da8, 0 0 55px #6900fe, 0px 0px 70px #00738000;
}

h2{text-shadow: -3px -3px 4px #e2a4ff, 5px 5px 4px #110c13fa;
    -webkit-text-stroke-width: medium;
    font-size: 5rem;
    text-transform: uppercase;
    color: #cbff00ab;
}
	

@media screen and (max-width: 700px){
	p{
	  font-size:1em ;
	}
	h2 , h1{
	  font-size:2rem ;
	}
  }


   



button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	border-radius: 25px;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: rgb(32, 1, 1);
	margin-top: 20px;
	padding: 10px;
}



/*header*/

#menu {
	background-color: rgba(85, 85, 85, 0);
	width:100%;
}
#menu ul {
	display: flex;
	list-style: none;
	padding: 0;
}
 li {
	padding-left: 9.0em;
}
 
#header{
	position: fixed;
	z-index: 1;
}
#header nav {
	width: 100%;
    z-index: 1;
	height: inherit;
	line-height: inherit;
	position: absolute;
	right: 0;
	top: 0;
}

	#header nav > ul {
		background: linear-gradient(180deg, rgb(21 0 255) -18.8%, rgb(120 4 173 / 96%) 104.92%);
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
	}

	/*box1*/


	.box1{
	
	position: absolute;
	background-color: hsla(277, 100%, 9%, 0.229);
    width: 100%;
	color:#ffffff;
	}

	.box1 > .inner {
		
        width: 60em;
        margin: 0 auto;
        -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: flex;
    }


	
	

	
 /*    align-items: center;
    justify-content: center;
    display: flex;*/


/* tarjetas blur */
.carrd{
	display: flex;
}
	
.card {
    position: relative;
    margin: 20px;
    width: 270px;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
	box-shadow: 6px 6px 11px #50317f75, -6px -6px 11px rgb(171 137 226 / 62%);        
}

.content {
	
    height: 400px;
    display: flex;
    align-items: center;
    /* background: rgb(25 25 25 / 75%); */
    /* opacity: 0; */
    transition: 1.5s;
    justify-content: center;
    padding: 0 4rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

 a { font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: initial;
    border-radius: 12px;
    color: rgb(5 255 0);
    margin: 10px 0;
    text-decoration: none;
}
h3{
	font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: medium;
	border-radius: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin: 10px 0;
	text-decoration: none;
}

.content h3, a:hover {
    opacity: 1;
}

.card:hover .content {
	backdrop-filter: blur(10px);
    opacity: 1;
    background: linear-gradient(354deg, #a300ffb0 -18.8%, rgb(0 255 115 / 52%) 104.92%);
    border-radius:5%;
    
}

.content-card{
	
    align-items: baseline;
    padding: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-card{
	height: 100px;
	border-radius:12px;
	display: flex;
	justify-content: center;

}
.img-in-card{
	height: 100px;
	

}

.img-in-card-2{
	margin: 7%;
    width: 40%;
   
}

/* responsive tarjetas blur */

@media all and ( max-width: 640px ) {
	.content-card { 
		display: flex;
		justify-content: center;
		padding: 0 2rem;

		
	}

}

	
.box {
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
  }
  
  .button {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
  }

  .overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(163deg, rgb(28 9 35 / 83%) -19.8%, #160723 80.92%);
  transition: opacity 2s ease 0s;
  visibility: hidden;
  opacity: 0;
}
 
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	position: relative;
    width: 75%;
    height: 75%;
	text-align: center;
    background: linear-gradient(163deg, rgb(0 0 0) -19.8%, rgb(24 1 41 / 90%) 80.92%);
    box-shadow: 8px 10px 20px rgb(17 246 224);
    border-radius: 5px;
    margin: 70px auto;
    border-radius: 5px;
    margin: 70px auto;
    padding: 20px;
    transition: all 1s ease-in-out;
}
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
 
  .popup .contennt {
	font-family: 'Plus Jakarta Sans', sans-serif;

	max-height: 70%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }

  .about-my{
	
	/* margin-top: 5%; */
	height: 100%;
	align-items: center;
    padding: 30px 5rem;
	position: relative;
  }

  @media screen and (max-width: 700px){
	.about-my{
		padding: 0 3rem;
	}

}
  

  .home{
	
	backdrop-filter: blur(3px);
	box-shadow: 6px 6px 11px #50317f75, -6px -6px 11px rgb(171 137 226 / 62%);        
    border-radius: 5%;
    display: flex;
	
  }
  @media screen and (max-width: 700px){
	.home{
	  display:block;
	}
	
  }

  .about-mycontent{
	background-color: #986dbd8f;
	backdrop-filter: blur(10px);
	box-shadow: 6px 6px 11px #50317f75, -6px -6px 11px rgb(171 137 226 / 62%);        
    margin-bottom: 80px;
    border-radius: 13px;
    display: inline-block;  }
	@media screen and (max-width: 900px) {
		.about-mycontent{
			display:block;
		}
		.content-about {
		    display: contents;
			margin: 1px;
		}
	}

	.about-mycontent-2{
		background-color: #986dbd8f;
		backdrop-filter: blur(10px);
		margin-bottom: 10px;
	  }
		

	  .img-one {
		margin: 5%;
		border-radius: 50%;
		width:50%;
		box-shadow: 6px 6px 11px #521f7cd1, -6px -6px 11px rgb(227 176 255);
		
	  }
  .img-fluid {
	margin: 5%;
	border-radius: 50%;
	width:28%;
	
    
  }
  .marg-img {
	margin:1%;
    text-align-last: center;
    width: 100%;
    align-self: center;
}
  .content-about{
	
	line-height: initial;
	text-align: center;
	margin: 5%;
  }
   

  .wrap-galery{
	
    width: 100%;
    height: 100%;
    display: flex;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;


  }
  
  .galery {
	width: 80%;
    border-radius: 9%;
}
.galeryy {
	margin:3%;
	width: 20%;
    border-radius: 9%;
}

::-webkit-scrollbar {
    display: none;
}

.cont-imtex{
	text-align-last: center;

}

.content-by{
	display:flex;
}
.up-title{
	height: 90px;
	display: flex;
    justify-content: center;
}



.contacto{
    /* width: 90%; */
    padding: 0 5rem;
	position: relative;
}

@media all and ( max-width: 851px ) {
	.contacto  { 
		width: 85%;
		padding: 0 2rem;
	}
}

.card-contact{
	position: relative;
	display: flex;
     width: 98%; 
     /* height:450px;  */
	 box-shadow: 6px 6px 11px #7662bad1, -6px -6px 11px rgb(167 138 205);	 margin: 2%;
	 border-radius: 25px;
}

.img-contacto{
	
width: 45%;
border-radius: 50%;
margin: 5%;
box-shadow: 6px 6px 11px #24083bd1, -6px -6px 11px rgb(227 176 255);
    
}

.target-contact{
	width: 100%;
    display: flex;
    justify-content: flex-end;
	align-items: center;
}

.targett{
	width: 20%;
}
.card-i {
	text-align: center;
	backdrop-filter: blur(10px);
    position: relative;
    margin: 20px;
    width: 20%;
    border-radius: 15%;
    background-size: cover;
	box-shadow: 6px 6px 11px #50317f75, -6px -6px 11px rgb(171 137 226 / 62%);        
}
.card-i:hover {
    background: linear-gradient(354deg, #a300ffb0 -18.8%, rgb(0 255 115 / 52%) 104.92%);
	border-radius: 15%;
}

.contacttt{
	margin: 2%;
}

.cont-immtex{
	display:contents;
}

.contenedor-img{
	display: contents;
}

@media all and ( max-width: 851px ) {
	.target-contact  { 
		flex-wrap: wrap;
		justify-content: center;
	}
	.contacttt{
		text-align: center;
	}
	.card-i{
		height: auto;
	}
}

.footer{
	background-color:#000000;
	width: auto;
}